/* src/index.css */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc; /* Para que sea visible */
  background: #fff; /* Color de fondo */
}
